:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: #F1F5F9;
  --color-background-white: #fff; 
  --color-error: #F08787;
  --color-confirm: #B6CEB4;

  --color-button: #8fd189;
  --color-button-hover: #7fbb7a;

  --color-navbar-background:  #ffffff;
  --color-navbar-hover:  #e8e4e1;

  color: #213547;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


